*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f2f5f7;
color:#333;
}

header{
background:#0b8f5d;
color:#fff;
padding:30px 20px;
text-align:center;
border-radius:0 0 25px 25px;
}

header h2{
font-size:28px;
}

header p{
margin-top:8px;
font-size:15px;
opacity:.9;
}

.card{
background:#fff;
margin:20px;
padding:20px;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,.12);
text-align:center;
}

.card h3{
color:#0b8f5d;
margin-bottom:10px;
}

.card h1{
font-size:40px;
margin:10px 0;
}

.card p{
font-size:22px;
font-weight:bold;
color:#e53935;
}

.jadwal{
margin:20px;
background:#fff;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,.12);
overflow:hidden;
}

.row{
display:flex;
justify-content:space-between;
padding:16px 20px;
border-bottom:1px solid #eee;
font-size:18px;
}

.row:last-child{
border-bottom:none;
}

.row span:last-child{
font-weight:bold;
color:#0b8f5d;
}

.bottom-nav{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    height:70px;
    background:#fff;
    display:flex;
    justify-content:space-around;
    align-items:center;
    box-shadow:0 -3px 15px rgba(0,0,0,.15);
    border-radius:20px 20px 0 0;
    z-index:999;
}

.bottom-nav button{
    flex:1;
    height:100%;
    border:none;
    background:none;
    color:#1b5e20;
    font-size:14px;
    font-weight:bold;
}

.bottom-nav button:active{
    background:#e8f5e9;
}

body{
    padding-bottom:90px;
}

.info-card{
  margin-top:15px;
  border-radius:18px;
  padding:15px;
  background:linear-gradient(135deg,#1b5e20,#2e7d32);
  color:#fff;
  box-shadow:0 8px 20px rgba(0,0,0,.18);
}

.info-card .row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 0;
  border-bottom:1px solid rgba(255,255,255,.2);
}

.info-card .row:last-child{
  border-bottom:none;
}

.info-card span:last-child{
  font-weight:bold;
  font-size:17px;
}

.compass{
  width:220px;
  height:220px;
  margin:20px auto;
  border:8px solid #2e7d32;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f8fff8;
  box-shadow:0 5px 20px rgba(0,0,0,.15);
}

#needle{
  font-size:70px;
  transition:transform .25s linear;
}

.top-header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  background:#0b8f5d;
  color:#fff;
  padding:16px 18px;
  border-radius:0 0 25px 25px;
}

.header-text{
  flex:1;
  margin-left:12px;
  text-align:left;
}

.header-text h2{
  margin:0;
  font-size:24px;
}

.header-text p{
  margin-top:4px;
  font-size:14px;
  opacity:.9;
}

.top-header button{
  width:42px;
  height:42px;
  border:none;
  border-radius:50%;
  background:rgba(255,255,255,.15);
  color:#fff;
  font-size:24px;
}
